# Config file for local CA
[req]
distinguished_name  = req_distinguished_name
prompt              = no
output_password     = SuperSecretCA

[req_distinguished_name]
C = "US"
ST = "Oregon"
L = "Bend"
O = "Myrick Home"
OU = "Department of Authenticity"
CN = "Myrick Home CA"
emailAddress = "admin@myrick.home"
